<html>
<head>
    <script src="../assets/androidjs.js"></script>
</head>
<body>
    <h1>Smart Mirror Mobile App</h1>

    <input type='input' id='hostname' placeholder="Smart Mirror's Hostname"/><br><br>
    <input type='input' id='ip' placeholder="Smart Mirror's IPv4 Address"/><br><br>
    <input type='password' id='password' placeholder="Smart Mirror's Password"/><br><br>
    <button type='button' onclick='connect()'>Connect to Smart Mirror</button>

    <script src='../scripts/index.js'></script>
</body>
<script>
    
</script>
</html>