body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 25px;
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.164);
}

#feature p {
    font-weight: 300;
    font-size:18px;
}

#feature h2 {
    font-weight: 400;
}

.calendar-div {
    float: right;
    padding-right: 50px;
}

.calendar-div h3 {
    font-weight: 500;
}

.calendar-div div {
    margin-top: 30px;
    margin-bottom: 30px;
}

#leftside-wrap {
    position: absolute;
    padding-left: 50px;
}

#name {
    padding-left: 50px;
    font-size: 35px;
}

#time-display {
    font-size: 40px;
    font-weight: 400;
}

#date-display {
    font-size: 30px;
    font-weight: 300;
}

#voice-recog {
    font-weight: 300;
    font-size: 21px;
    position: absolute;
    top: 77%;
    text-align: center;
}